%h1 Listing talks

%table
  %thead
    %tr
      %th Person
      %th Title
      %th
      %th
      %th

  %tbody
    - @talks.each do |talk|
      %tr
        %td= talk.person_id
        %td= talk.title
        %td= link_to 'Show', talk
        %td= link_to 'Edit', edit_talk_path(talk)
        %td= link_to 'Destroy', talk, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Talk', new_talk_path
