%p#notice= notice

%p
  %b Talk:
  = @location.talk_id
%p
  %b City:
  = @location.city
%p
  %b State:
  = @location.state

= link_to 'Edit', edit_location_path(@location)
\|
= link_to 'Back', locations_path
